body{
    background-image: url('../assets/img/hojas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header .logo{
    background: rgb(5, 107, 5);
}

nav > ul > li:hover{
    background: rgb(5, 107, 5);
}

.post > .button-more{
    background: darkgreen;
}

#login > form input[type ="submit"]{
    background: darkgreen;
}
