* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.theme-select {
    position: fixed;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    left: 0px;
    height: 100px;
}

.to-green, .to-red, .to-blue {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.to-green {
    background: rgb(5, 107, 5);
}

.to-red {
    background: rgb(107, 5, 5);
}

.to-blue {
    background: rgb(5, 46, 107);
}

#global {
    width: 70%;
    background: white;
    height: auto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 255px;
    height: 70px;
    margin: 15px;
    font-size: 20px;
    /* background: rgb(5, 107, 5); */
    color: white;
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    list-style: none;
    color: white;
    padding: 15px;
    cursor: pointer;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

.slide {
    width: 100%;
    background-color: #ccc;
    height: auto;
}

.bx-wrapper, .bx-viewport {
    height: 250px !important;
}

#contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

#contenedor>.post-public {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    margin: 15px 0px;
    padding: 10px;
}

.post-public>.post {
    margin: 20px;
}

.post h1 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(54, 54, 54);
}

.post span {
    display: block;
    margin-top: 7px;
    font-size: 17px;
    color: rgb(54, 54, 54);
}

.post p {
    margin-top: 10px;
    font-size: 19px;
    text-align: justify;
}

.post>.button-more {
    display: block;
    width: 70px;
    margin-top: 20px;
    padding: 10px;
    font-style: none;
    text-decoration: none;
    color: white;
}

#accordion {
    width: 55%;
    margin: 15px 0px;
    padding: 20px;
}

#contenedor>.sidebar {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 37%;
    margin: 20px 0px;
}

.sidebar>#articulos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#articulos>.articulo {
    -webkit-box-shadow: -1px 1px 15px 3px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -1px 1px 15px 3px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 1px 15px 3px rgba(0, 0, 0, 0.6);
    margin: 20px;
    width: 200px;
    height: auto;
    padding: 5px;
}

#articulos>.articulo img {
    width: 100%;
    height: 150px;
}

#articulos>.articulo p {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
}

#login>form input[type="text"], #login>form input[type="email"], #login>form input[type="password"] {
    width: 100%;
}

#login>form input[type="submit"] {
    font-size: 15px;
    margin-top: 5px;
    padding: 8px;
    color: white;
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
}

#footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 47px;
    background-color: rgba(0, 0, 0);
}

#footer>p {
    font-size: 20px;
    color: white;
}

#footer>img {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#logout {
    margin: 20px;
    text-decoration: none;
    color: teal;
    cursor: pointer;
    display: none;
}

/* contacto */

#contacto {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px;
}

.form-contact {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.form-contact form {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 4px 6px 40px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 6px 40px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 6px 40px 0px rgba(0, 0, 0, 0.75);
    color: white;
}

.form-contact form label, h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px;
}

.form-contact form input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
}

.error{
    display: block;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    
}